aside.panel
    div.nameWrapper
        if server.icon
            img.server(src=`https://cdn.discordapp.com/icons/${server.id}/${server.icon}.webp`)
        else
            img.server(src=`https://eu.ui-avatars.com/api/?name=${server.name}&background=a0a0a0&color=231F20`)
        if (server.name.length >= 23)
            - const name = server.name.substring(0, 20) + " ..."
            h1.servername #{name}
        else
            h1.servername #{server.name}
    div.optionWrapper
        a(href=`/dash/${server.id}/general`) General
        hr.line.optionline.optionSelected
        a(href=`/dash/${server.id}/setup`) Set up channels
        hr.line.optionline
        a(href=`/dash/${server.id}/chart`) Charts and data
        hr.line.optionline
        a(href=`/dash/${server.id}/help`) Help