include includes/heder.pug
link(rel='stylesheet', href='/css/dashboard.css')

#particles-js

include includes/navbar.pug

main.container
    hi.guildstxt Select a server
    div.guilds
        // Itterate over all the guilds
        if !servers
            p It's quiet in here. Create a guild to get started.
        else
            each server in servers
                div.guild
                    div.guildbg
                        if server.icon
                            img.server(src=`https://cdn.discordapp.com/icons/${server.id}/${server.icon}.webp`)
                            div.guildbgimg(style=`background: url('https://cdn.discordapp.com/icons/${server.id}/${server.icon}.webp')`)
                        else
                            img.server(src=`https://eu.ui-avatars.com/api/?name=${server.name}&background=a0a0a0&color=231F20&size=256&format=png`)
                            div.guildbgimg#noimgbg
                    div.guilddescr
                        if (server.name.length > 33)
                            - var name = server.name.substring(0, 32) + " . . ."
                            h1 #{name}
                        else
                            h1 #{server.name}
                        if server.mutual == true
                            a(href=`/dash/${server.id}/general`)
                                button.conf Config 
                        else
                            a(href=`https://discord.com/oauth2/authorize?client_id=816747912888975362&scope=bot&permissions=268749904&guild_id=${server.id}`)
                                button Invite 

include includes/footer.pug
