include includes/heder.pug
link(rel='stylesheet', href='/css/controlpanel.css')

#particles-js

include includes/navbar.pug

main.container
    include includes/gcpanel.pug
    div.configWrapper
        div.config
            h1.title Charts and data
            if false
                p.title 
                | This server doesn't have monitoring set up yet, you can do that 
                a(href=`/dash/${server.id}/setup`) here
            else
                h1.inputLbl Number of players online:
                h2.inputDesc.charttxt Recorded in the last 24 hours
                canvas#chartP(width='400' height='200')
                script.
                    const ctp = document.getElementById('chartP').getContext('2d');
                    const chartp = new Chart(ctp, !{optionsP});

                if !{optionsA}
                    h1.inputLbl#charttxtb Most active players:
                    h2.inputDesc.charttxt Recorded in the last 24 hours
                    canvas#chartA(width='400' height='200')
                    script.
                        const cta = document.getElementById('chartA').getContext('2d');
                        const charta = new Chart(cta, !{optionsA});
                
                h1.inputLbl#charttxtb Server uptime:
                h2.inputDesc.charttxt Recorded in the last 24 hours
                canvas#chartU(width='400' height='200')
                script.
                    const ctu = document.getElementById('chartU').getContext('2d');
                    const chartu = new Chart(ctu, !{optionsU});



include includes/footer.pug